<ion-card color="success">
  <ion-card-header>
    <ion-card-subtitle>{{site}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-avatar>
        <img src="{{image}}" />
      </ion-avatar>
      <ion-label>
        <h3>{{company}}</h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <h3><ion-icon name="calendar-sharp"></ion-icon> Start date - End date</h3>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>