
<ion-header >
  <ion-toolbar>
    <ion-title>My Sites</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="success"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <app-site-card [company]="'Mayank Builders'" [site]="'Pushparatan Park'" [image]="'https://wallpapercave.com/wp/wp2003539.jpg'" [startdate]="'10/01/2023'" [enddate]="'09/10/2023'"></app-site-card>
  <app-site-card [company]="'Abhiyank Associates'" [site]="'Om Aangan'" [image]="'https://wallpapercave.com/wp/wp2003566.jpg'" [startdate]="'10/01/2023'" [enddate]="'09/10/2023'"></app-site-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </ion-content>
